.avatar{
    margin: -20px auto 30px auto;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom:
        }
.rst-content .sidebar{
width : 220px;
}

.rst-content .sidebar p, .rst-content .sidebar ul, .rst-content .sidebar dl {
    font-size: 100%;
}
